{% extends 'base.html.twig' %}

{% block title %}map{% endblock %}

{% block body %}
    <div id="mapid" data-farmer="{{ [farmer.firstName, farmer.city.lat, farmer.city.long]|json_encode }}"></div>
{% endblock %}
