{% extends 'base.html.twig' %}

{% block title %}map{% endblock %}

{% block body %}
    <div id="map" data-departments="{{ departments|json_encode }}"></div>
    <div class="infos"></div>
    <div class="buttons">
        <input type="button" value="France entière" id="franceEntiere">
        <input type="button" value="Comparateur agricole" id="comparateurAgricole">
        <input type="button" value="Me localiser" id="myLocate">
    </div>
{% endblock %}
